extends ../layout

block content
	h1= title

	if(userlist && userlist.length)
		#gameList
		table
			thead
				th name
				th email
				th immunity
				th timeOut
				th vote
				th Edit
				th Delete
			tbody
				each game, i in userlist
					tr
						td= game.username
						td= game.email
						td= game.immunity
						td
							if (JSON.stringify(game.timeOut) == "null")
								p still in the game
							else
								p= game.timeOut
						td
							if (JSON.stringify(game.vote) == "null")
								p no vote
							else
								p= game.vote
						td
							a(href="/users/edit/"+game._id) Edit
							
						td
							a(href="/users/delete/"+game._id) Delete
	else
		div no games

	a(href="/survivor/start/" class="btn waves-effect waves-light") start
	a(href="/survivor/vote/" class="btn waves-effect waves-light") vote