extends ../layout

block content
	h1= title

	if(userlist.length)
		#gameList
		table
			thead
				th name
				th email
				th immunity
				th timeOut
				th Edit
				th Delete
			tbody
				each game, i in userlist
					tr
						td= game.username
						td= game.email
						td= game.immunity
						td= game.timeOut
						td
							a(href="/users/edit/"+game._id) Edit
							
						td
							a(href="/users/delete/"+game._id) Delete
	else
		div no games

	a(href="/survivor/start/" class="btn waves-effect waves-light") start